@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
    <div style="text-align:center">
        <br />
        <br />
        <br />
        <h1 class="text-danger">404 - Not found</h1>
        <h2 class="text-danger">Trang bạn yêu cầu không tìm thấy.</h2>
        <br />
        <br />
        <br />
    </div>